@media screen and (max-width: 28rem) {
  .nav-wrap {
    .explore-icon {
      display: none;
    }
  }

  .first-screen-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

    .simple-weather-information,
    .detailed-weather-information {
      position: relative !important;
      left: 0 !important;
      top: 0 !important;
    }

    .simple-weather-information {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: calc(100% - 3rem);
      flex-direction: column;

      .status {
        margin-top: 1rem;
      }
    }

    .detailed-weather-information {
      width: 90% !important;
      margin-bottom: 1rem;
    }
  }

  .weather-information-wrap {
    .weather-category-card {
      overflow-x: auto !important;
    }
  }
}
